/* RESET 
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
.fisrtHeader {
    background-color: #1CD1B0;
    margin: 0;
}
.fisrtHeader p {
    margin: 0px;
    padding: 2px 2px 2px 10px;
    font-size: 12px;
    font-weight: bold;
}

.secondHeader {
    background-color: #00669F;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.secondHeader h1 {
    margin: 0px;
    padding: 5px;
    color: white;
}

.thirdHeader {
    background-color: #001D2D;
    padding: 10px 0;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.thirdHeader a:visited, .thirdHeader a:link, .thirdHeader a:active {
    color: white;
    text-decoration: none;
}

.thirdHeader a {
    padding: 0 15px;
    margin-left: 15px;
}


.first-container{
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    
}

.cards {
    display: inline-block;
    width: 280px;
    height: 520px;
    position: relative;
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 5px 15px 50px 15px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fondo {
    width: 100%
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 110px;
}

h2 {
    padding-top: 2rem;
}

.textP {
    text-align: left;
    margin: 20px;
    font-size: 14;
}

button {
    background-color: #00669F;
    color: white;
    padding: 10px 20px;
    border: 0;
    margin: 10px;
}

#verMas {
    background-color: #00669F;
    width: 30px;
    color: white;
    padding: 10px 20px;
    border: 0;
    margin: 10px;
}
#verMas:link, #verMas:hover, #verMas:active {
    color: white;
    text-decoration: none;
}

i {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 15px;
    top: 15px;
    color: red;
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #00669F;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#circleIcon {
    color: #00669F;
    position: fixed;
    top: 50%;
    left: calc(95% - 15px);
    z-index: 10;
}


@media (max-width: 1024px) {
    .cards{
        width: 260px;
    }
    
}

@media (max-width: 764px) {
    #git {
        width: 100px;
        position: static;
        margin-top: 20px;
    }
    footer {
        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    #git {
        width: 80px;
    }
    #circleIcon {
        left: calc(90% - 20px);
    }
}



/* Styles login */
header img {
    width: 64px;
    height: 50px;
}

header h1 {
    padding: 4px;
}

.form{
    display: flex;
    height: 80vh;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
}
.formDiv {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.formDiv h2 {
    font-size: 40px;
    font-weight:900;
}
.form form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.form form input {
    width: 96%;
    height: 25px;
    margin: 8px 0;
    border-color: black;
    border-width: 1px;
    padding: 6px 0 6px 10px;
}

.form form button {
    background-color: #1CD1B0;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    margin: 28px 0 10px;
}

.form form span {
    font-size: 14px;
    text-align: center;
    color: #00669F;
}

.form form select {
    width: 99%;
    height: 35px;
    margin: 8px 0;
    border-color: black;
    border-width: 1px;
    padding: 6px 0 6px 10px;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

#Reset {
    background-color: #888888;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin: 28px 0 10px;
    width: 170px;
}

#Regist {
    background-color: #1CD1B0;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    margin: 28px 0 10px;
    width: 170px;
}

#ingreso {
    color: black;
}

#mensaje {
    border-color: black;
    margin-top: 6px;
}


/*Styles formulario.html */
.addSuperSection {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addSuper {
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00669F;
    border-radius: 15px;
}

.titleForm {
    text-align: center;
}
#mainTitle {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: 5px 0;
}
#secondTitle {
    font-size: 15px;
    color: white;
    margin: 5px 0 15px;

}
.alignVerticalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alignHorizontalForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.alignVerticalForm1 {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}


.alignVerticalForm1 label{
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

.alignVerticalForm2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#checkRadio {
    color: white;
    margin: 0 0 5px 0;
    font-size: 14px;
}

hr {
    width:100%;
    text-align:center;
    margin: 15px 0;
    border-width: 0.5px;
}

#nombre, #especie, #fecha, #descripcion {
    padding: 10px;
    margin-bottom: 10px;
    width: 85%;
    border-radius: 15px;
    border-width: 0ch;
}

#labelEspecie::before, #labelNombre::before {
    content: '*';
}


#nombre:hover, #especie:hover, #fecha:hover, #descripcion:hover {
    border-color: #1CD1B0;
    border-width: 1px;
}

#descripcion {
    margin-top: 25px;
}

#foto {
    color: black;
    font-size: 10px;
    padding:15px 0;
}

input[type=file]::-webkit-file-upload-button {
    background-color: #CECECE;
    padding: 4px 4px;
    border-width: 0;
    width: 150px;
    text-align: left;
}


input[type=file]::-webkit-outer-spin-button{
    content: "Hola";
}


#anadir {
    background-color: #1CD1B0;
    color: black;
    width: 50%;
    font-size: 28px;
    margin-top: 25px;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 15px;
}

#anadir:hover {
    background-color: #001D2D;
    color: white;
}



/* Styles Personal supers */
.superContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/fondoHarley.png');
}

.superContainerSection {
    display: flex;
    position: relative;
    width: 520px;
    height: 450px;
    justify-content: center;
    align-items: center;

}

.superContainerDiv {
    display: flex;
    position: absolute;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}

.superContainerDiv #name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 28px;
    text-decoration: underline;
    color: #2C0187;
}

.superContainerDiv p {
    font-weight: 600;   
    font-size: 16px; 
    padding: 0 20px;
}

#heartSuper {
    position: absolute;
    top: 30px;
    left: 30px;
}
.photoSuper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -80px;
    z-index: 2;
}

.colorPurple {
    color: #2C0187;
}

#comeBackButton {
    width: 100%;
    font-size: 20px;
    padding: 18px 0;
    position: absolute;
    margin: 0;
    bottom: 0;
    background-color: #2C0187;
    color: white;
    text-align: center;
}

#comeBackButton:visited, #comeBackButton:active, #comeBackButton:link{
    text-decoration: none;
    color: white;
}